 body{
  background: rgb(234, 240, 240);
  height: 100%;
}
html{
 height: 100%;
}
  @-webkit-keyframes buzz-out-on-hover {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
@keyframes buzz-out-on-hover {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}
.buzz-out-on-hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.buzz-out-on-hover:hover, .buzz-out-on-hover:focus, .buzz-out-on-hover:active {
  -webkit-animation-name: buzz-out-on-hover;
  animation-name: buzz-out-on-hover;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
.centerareaone{
  width: 1690px; 
  height:auto; 
  margin: auto;
}
.centerareatwo{
  width: 1900px; 
  height:auto; 
  margin: auto;
}
.topcate {
  overflow:hidden;
  width: 100%;
  height: 150px;
  padding: 0.5% 2%;
  background: #CFDCDE;
  white-space: nowrap; 
}
.topcate_menu li {
  list-style: none;
  display: inline-block;
  text-transform: uppercase;
}

.topcate_menu li {
  position: relative;
  text-align: center;
}

.topcate_menu li a {
  display: block;
  text-decoration: none;
  background-color: #none;
  margin: 0;
  letter-spacing: 1px;
  color: #000;
  font-weight: normal;
}

.topcate_menu li a:hover {
  background-color: #none;
  text-decoration: none;
}

.topcate_menu li ul {
  position: absolute;
  visibility: hidden;
  border-top: 0px solid #fff;
  margin: 0;
  border: 1px solid #dbdbdb;
  z-index: 1000;
  background: #fff;
  width: 100px;
  left: -10px;
}
.topcate_menu .topcate_shop {
  position: absolute;
  visibility: hidden;
  margin: 0;
  border: 1px solid #dbdbdb;
  z-index: 1000;
  background: #fff;
}
.logo{
  width: 400px;
  height: 130px;
  /*background: red;*/
  display: inline-block;
  float: left;
  transform: translateX(40%);
}
.menu{
  height: 130px;
  width: 580px;
  transform: translateX(50%);
  display: inline-block;
  /*background: red;*/
  float: left;
}
.topcate_menu{
  padding-top: 43px;
}
.lastarea{
  transform: translateX(100%);
  width: 400px;
  height: 130px;
  /*background: red;*/
  display: inline-block;
  text-transform: uppercase;
  font-size: 20px;
  padding-top: 42px;
  letter-spacing: 2px;
}
#join{
  color:#23345c;
}
#login{
  color:#23345c;
}
#login:hover{
  font-weight: bold;
  cursor: pointer;
}
#join:hover{
  font-weight: bold;
  cursor: pointer;
}
#shoppingcar:hover{
  width: 32px;
  height: 32px;
}

.car{
  display: inline-block;
  position: relative;left: 10px;
  transform: translateY(-6%);
}
.loginarea{
  display: inline-block;
  padding-top: 11px;
}
.footer{
  /* 設定footer絕對位置在底部 */
  position: absolute;
  bottom: 0;
  height: auto;
  width: 100%;
  background: #CFDCDE;
  text-align: center;
  padding-top: 20px;
  float: left;
}
#id_wrapper {
  /* 設定高度最小為100%, 如果內容區塊很多, 可以長大 */
  min-height: 100%;
  height: auto;
  /* 位置設為relative, 作為footer區塊位置的參考 */
  position: relative;
}
#id_content {
  padding-bottom: 200px;/*預留footer的高度*/
}
.footer a{
  text-decoration: none;
  color: black;
}
.footer a:hover{
  text-decoration: none;
  color: gray;
}
@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';
.btn {
  font-size: 20px;
  line-height: 35px;
  height: 50px;
  text-align: center;
  width: 95px;
  cursor: pointer;
  margin-left: -17px;
}
.btn:hover{
  font-weight: bold;
  color: #5580a0;
}
/* 
========================
      BUTTON ONE
========================
*/
.btn-one {
  color: #23345c;
  transition: all 0.3s;
  position: relative;
}
.btn-one span {
  transition: all 0.3s;
}
.btn-one::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid ;
  border-bottom-style: solid ;
  border-color: #5580a0;
  transform: scale(0.1, 1);
}
.btn-one:hover span {
  text-align: center;
  letter-spacing: 2px;
}
.btn-one:hover::before {
  opacity: 1; 
  transform: scale(1, 1); 
}
.btn-one::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  text-align: center;
}
.btn-one:hover::after {
  text-align: center;
  opacity: 0; 
  transform: scale(0.1, 1);
}
.lastarea a{
  text-decoration: none;
  /*color: black;*/
}
#join{
  color:#23345c;
}
#login{
  color:#23345c;
}
#login:hover{
  font-weight: bold;
  cursor: pointer;
}
#join:hover{
  font-weight: bold;
  cursor: pointer;
}
#shoppingcar:hover{
  width: 32px;
  height: 32px;
}

/*css*/





.title{
  margin-top: 30px;
  width: 100%;
  height:100px;
  /*background: purple;*/
}
.titlearea{
  width: 1000px;
  height: 100px;
  margin: auto;
  /*background: pink;*/
  font-size: 40pt;
  font-family: arial black;
  word-spacing: 8px;
  text-align: center;
}
.areaone{
  width: 100%;
  height: 800px;
  margin-top: 50px;
  /*background: yellow;*/
}
.areatwo{
  width: 1500px;
  height: 800px;
  /*background:green;*/
  margin-top: 30px;
  margin: auto;
  display: ;
}
.areatwo input{
  /*border: 2px solid red;*/
  border: none;

  height: 50px;
  width: 420px;
  border-bottom: 2px solid rgb(53, 103, 141,0.5);
}
.areatwo textarea{
  margin-top: 20px;
  border: 2px solid rgb(53, 103, 141,0.5);
}
.contact{
  /*border:5px solid rgb(53, 103, 141,0.5);*/
  display: inline-block;
  
  height: 800px;
  width: 700px;
    margin-left: 430px ; 
  /*background: rgb(213, 225, 225,0.3);*/
  border-radius: 15px;
}
.map{
  display: inline-block;
  float: right;
  height: 800px;
  width: 740px;
  /*background: orange;*/
}
.contacttitle{
  color: #689c97;
  width: 650px; 
  height: 100px;
  /*background: white;*/
  padding-top: 17px;
  /*border-bottom: 4px solid rgb(53, 103, 141,0.5);*/
}
.contactcontent{
  width: 630px; 
  height: 670px;
  /*background: pink;*/
  padding-top: 30px;
  padding-left: 110px;
  background: white;
  border-radius: 20px;
}
#name-text{
  background-image: url('../image/userr.png');
  background-repeat: no-repeat;
  background-size: 30px 30px;
  padding-left: 50px;
  background-position: 4%;
}
#birthday-text{
  background-image: url('../image/birthday.png');
  background-repeat: no-repeat;
  background-size: 30px 30px;
  padding-left: 50px;
  background-position: 2%;
}
#email-text{
  background-image: url('../image/mail-2.png');
  background-repeat: no-repeat;
  background-size: 30px 30px;
  padding-left: 50px;
  background-position: 4%;
}
#product-text{
  background-image: url('../image/goods.png');
  background-repeat: no-repeat;
  background-size: 33px 33px;
  padding-left: 50px;
  background-position: 2%;
}
#price-text{
  background-image: url('../image/money.png');
  background-repeat: no-repeat;
  background-size: 33px 33px;
  padding-left: 50px;
  background-position: 2%;
}
#pic-text{
  background-image: url('../image/picture.png');
  background-repeat: no-repeat;
  background-size: 33px 33px;
  padding-left: 50px;
  background-position: 2%;
}
#number-text{
  background-image: url('../image/numbers.png');
  background-repeat: no-repeat;
  background-size: 33px 33px;
  padding-left: 50px;
  background-position: 2%;
}
#amount-text{
  background-image: url('../image/stock.png');
  background-repeat: no-repeat;
  background-size: 33px 33px;
  padding-left: 50px;
  background-position: 2%;
}
#tel-text{
  background-image: url('../image/tel.png');
  background-repeat: no-repeat;
  background-size: 30px 30px;
  padding-left: 50px;
  background-position: 4%;
}#password-text{
  background-image: url('../image/password.png');
  background-repeat: no-repeat;
  background-size: 30px 30px;
  padding-left: 50px;
  background-position: 4%;
}
#contact-text{
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 8px;
}
#contact-submit{
  width: 200px;
  height: 50px;
  margin-left: 113px;
  background: rgb(53, 103, 141,0.5);
  color:white;
  border-bottom: none;
  cursor: pointer;
}
#contact-submit:hover{
  width: 200px;
  height: 50px;
  margin-left: 113px;
  background: white;
  color: rgb(53, 103, 141,0.5);
  border-bottom: none;
}

.contactcontent textarea{
  border-radius: 10px;
  resize: none;
  width:430px;
  height:300px;
}
.maptitle{
  height: 100px;
  width: 740px;
  /*background: green;*/
  padding-top: 17px;
}
.maparea{
  height: 680px;
  width: 720px;
  background: white;
  margin: auto;
  border-radius: 20px;
}
.mapinner{
  width: 600px;
  height: 90px;
  background: white;
  font-family: 微軟正黑體;
  font-size: 14pt;
  color: #9c8f96;
  text-align: center;
  margin: auto;
  padding-top: 35px;
}
.mapimage{
  height: auto;
  width: 600px;
  margin:auto;
}